<section class="ios-footer theme-footer">
    <!--App Titlebar-->
    <div class="ios-navbar">
        <ul class="ios-nav ios-navcol-4">
            <li>
                <a href="#view2" class="theme-anchor">
                    <i class="fa fa-music"></i><br/>
                    Presets
                </a>
            </li>
            <li>
                <a href="#view4" class="theme-anchor">
                    <i class="ti-cloud-up"></i><br/>
                    Sampler
                </a>
            </li>
            <li>
                <a href="#view8" class="theme-anchor">
                    <i class="ti-microphone"></i><br/>
                    Record
                </a>
            </li>
            <li>
                <a href="#view3" class="theme-anchor">
                    <i class="fa fa-gears"></i><br/>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</section>