<section ng-include="'templates/navigation.html'"></section>

<section class="ios-body-lowered">
    <ul class="ios-collection theme-collection">
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">English</div>
                <div class="ios-collection-summary theme-anchor-summary">UTF-8</div>
            </a>
        </li>
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">Chinese (Mandarin)</div>
                <div class="ios-collection-summary theme-anchor-summary">ISO-2538</div>
            </a>
        </li>
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">Arabic</div>
                <div class="ios-collection-summary theme-anchor-summary">ISO-7791</div>
            </a>
        </li>
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">India</div>
                <div class="ios-collection-summary theme-anchor-summary">ISO-6864</div>
            </a>
        </li>
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">French</div>
                <div class="ios-collection-summary theme-anchor-summary">ISO-3768</div>
            </a>
        </li>
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">German (Dutch)</div>
                <div class="ios-collection-summary theme-anchor-summary">ISO-2258</div>
            </a>
        </li>
        <li>
            <a href="#view6" class="theme-anchor">
                <div class="ios-collection-name">Russian</div>
                <div class="ios-collection-summary theme-anchor-summary">ISO-1107</div>
            </a>
        </li>
    </ul>
</section>